* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}

@font-face {
  font-family: "Lobster";
  src: url("fonts/Lobster-Regular.woff");
}

/*NAV*/

.nombre {
  font-family: "Lobster";
  font-size: 2rem;
  float: left;
  color: orange;
  font-weight: bolder;
}

.menu-contenedor {
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
}

input#act {
  position: relative;
  right: 20px;
  float: right;
  margin-top: 15px;
  margin-right: -12px;
  z-index: -1;

}
img.hamburguesa {
  width: 30px;
  float: right;
  margin-top: 11px;
  z-index: 5;
}
ul.hambur {
    margin-top: 55px;
    overflow: hidden;
}
ul li.menu {
  text-align: center;
  list-style: none;
  margin-top: -5px;
  border-top: 1px solid grey;
  padding: 14px;
}


#act ~ ul li.menu  {
  display: none;
  overflow: hidden;
}

#act:checked ~ ul li.menu {
  display: block;
}

.pie li  {
  list-style: none;
  float: left;
  margin-top: 8px;
}

ul li.menu {
  display: none;
}

.menu {
  padding: 0 7px;
}
a.iniciar {
  padding: 0 10px;
  font-size: 0.9rem;
  color: white;
}
a {
  text-decoration: none;
  padding: 5px;
  color: white;
}

.menu-principal {
  overflow: hidden;
  width: 100%;
  background-color: rgb(24, 22, 23);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
  position: fixed;
}


/* Section*/
section {
  overflow:hidden;
  width: 100%;
  background-color: rgb(251, 251, 237);
}

article {
  overflow: hidden;
  width: 90%;
  margin: 100px auto;
  background-color:rgb(250, 246, 235);
}

h3 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  padding: 15px 15px 15px 3px;
  background-color: white;
  font-weight: lighter;
  border: 1px solid #80808036;
}

p {
  text-align: justify;
  clear: both;

}

.novisto {
  width: 20px;
  float: right;
  margin-top: -39px;
  margin-right: 11px;
}
#activar, #activar2, #activar3, #activar4, #activar5 {
  z-index: -2;
  position: relative;
  top: 42px;
}

#activar ~ .desplegable  {
  display: none;
  overflow: hidden;
}

#activar:checked ~ .desplegable {
  display: block;
  margin-top: 20px;
}

#activar:checked ~ .inputlabel img.novisto {
  transform: rotate(-90deg);
}

#activar2 ~ .desplegable  {
  display: none;
  overflow: hidden;
}

#activar2:checked ~ .desplegable {
  display: block;
  margin-top: 20px;
}

#activar2:checked ~ .inputlabel img.novisto {
  transform: rotate(-90deg);
}

#activar3 ~ .desplegable  {
  display: none;
  overflow: hidden;
}

#activar3:checked ~ .desplegable {
  display: block;
  margin-top: 20px;
}

#activar3:checked ~ .inputlabel img.novisto {
  transform: rotate(-90deg);
}

#activar4 ~ .desplegable  {
  display: none;
  overflow: hidden;
}

#activar4:checked ~ .desplegable {
  display: block;
  margin-top: 20px;
}

#activar4:checked ~ .inputlabel img.novisto {
  transform: rotate(-90deg);
}

#activar5 ~ .desplegable  {
  display: none;
  overflow: hidden;

}

#activar5:checked ~ .desplegable {
  display: block;
  margin-top: 20px;
}

#activar5:checked ~ .inputlabel img.novisto {
  transform: rotate(-90deg);
}
/*footer*/

footer{
  overflow: hidden;
  width: 100%;
  height: 300px;
  background-color: black;
}
.redes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 147px;
  margin-bottom: 40px;
}
footer img {
  overflow: hidden;
  width: 35px;
  background-color: white;
  border-radius: 19px;

}

.pie li  {
  font-size: 0.8rem;
  text-align: center;
  float: none;
  padding: 3px;
}

h3 {
  text-align: center;
  margin: 30px 0 40px 0;
}

#nredes {
  color: white;
  margin: 30px 0;
}
@media (min-width: 523px) {
  section {
   height: 190.5vh;
  }
}

@media (min-width: 768px) {

 ul.pie, .menu-contenedor {
  width: 90%;
}

p {
  font-size: 1rem;
}

ul.pie {
  margin: 0 auto;
  overflow: hidden;
}

ul.pie li {
  display: inline-block;
  margin-left: 60px;
}

footer {
  height: 207px;
}


@media (min-width: 1024px){
  section {
    height: 146.5vh;
}

  .hamburguesa, input[type=checkbox] {
    display: none;
  }
  #act ~ ul li.menu {
      display: inline-block;
      overflow: hidden;
      margin-top: 10px;
      float: right;
      border-top: none;
      padding: 14px;
    }
  a.iniciar, ul li.menu {
    font-size: 1rem;
  }

  ul.hambur {
      margin-top: 0;
  }

  ul li.menu:hover {
    border-bottom: 4px solid orange;
  }
.com {
  overflow: hidden;
  width: 55%;
  margin: auto;

}
  .menu-contenedor {
      width: 850px;
  }
  a.iniciar, ul li.menu {
    font-size: 1rem;
  }
  ul li.menu {
    display: inherit;
    margin-top: 17px;
  }

  ul li.menu:hover {
    border-bottom: 4px solid orange;
  }

 ul.pie, article, .menu-contenedor{
    width: 850px;
  }
  li.faq {
    padding-top: 20px;
  }
  ul.pie li {
    margin-left: 91px;
}
